{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load mixture_extras %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'recipes/css/style.css' %}">

<div class='container'>
    <div class='row'>
        <div class='col'>
            <h2>{{header}}</h2>
        </div>
    </div>
    <hr>
    <div class='row'>
        <div class='col'>
            <h3>Overall formula</h3>
        </div>
    </div>
    {% preview_mixture_table overall.0 overall.1 show_total=True %}
    <hr>
    {% if deductible %}
        {% for m, f in deductible %}
            <div class='row'>
                <div class='col'>
                    <h4>{{m.title}}</h4>
                </div>
            </div>
            {% preview_mixture_table m f False %}
        {% endfor %}
    <hr>
    {% endif %}
    <div class='row'>
        <div class='col'>
            <h3>Mise-en-place</h3>
        </div>
    </div>
    {% preview_mixture_table final.0 final.1 True %}
<div>

<script type='text/javascript' src="{% static 'mixtures/js/toggle_nests.js' %}"></script>
{% endblock %}
