{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'recipes/css/style.css' %}">

<div class='container'>
    <div class='row'>
        <h2>{{header}}</h2>
    </div>
    <hr>
    <div class='row'>
        <div class='col'>
            <h3>Overall formula</h3>
        </div>
    </div>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">metric</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for i, q in overall.ingredient_quantities %}
            <tr>
                <td>{{i}}</td>
                <td>{{q}} {{overall.unit}}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    {% for m in deductible %}
        <div class='row'>
            <div class='col'>
                <h4>{{m.title}}</h4>
            </div>
        </div>
        <table class='table table-striped'>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">metric</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for i, q in m.ingredient_quantities %}
                <tr>
                    <td>{{i}}</td>
                    <td>{{q}} {{m.unit}}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
    {% endfor %}
    <table class='table table-striped'>
        <div class='row'>
            <div class='col'>
                <h3>Mise-en-place</h3>
            </div>
        </div>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">metric</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for i, q in final.ingredient_quantities %}
            <tr>
                <td>{{i}}</td>
                {% if q %}
                <td>{{q}} {{final.unit}}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div>

{% endblock %}
